.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.form-column {
  display: grid;
  gap: 1rem;
  align-content: start;
}

.qr-preview-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%; /* Added for sticky context */
}

.qr-preview-column-footer {
  margin-bottom: 1rem;
}

@media (min-width: 48rem) {
  .main-grid {
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .form-column {
    grid-column: 1;
    grid-row: 1;
  }

  #qr-preview-column {
    grid-column: 2;
    grid-row: 1;
  }

  #qr-preview-column.both-rows {
    grid-column: 2;
    grid-row: 1 / 3;
  }

  .advanced-controls-container {
    grid-column: 1 / 2;
  }

  .advanced-controls-container.both-columns {
    grid-column: 1 / 3;
  }
}
