.qr-sticky-container {
  @media (min-width: 48rem) {
    width: 100%;
    overflow: auto; /* Added for sticky context */
    position: sticky;
    top: 2rem;
    z-index: 100; /* Increased z-index to ensure it stacks above other elements */
  }
}

// Mobile sticky behaviour, qr-canvas-wrapper is repositioned in the dom for mobile
.content-wrapper > .qr-canvas-wrapper {
  width: 100%;
  overflow: auto;
  position: sticky;
  top: 2rem;
  z-index: 100; /* Increased z-index to ensure it stacks above other elements */
}

.sticky-footer {
  position: fixed;
  bottom: 2rem;
  width: calc(50% - 4.25rem);
}

.qr-canvas-wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;

  canvas,
  svg {
    max-width: min(100%, 50vh);
    height: auto;
    max-height: 50vh;
    border: 1px solid var(--color-primary-dark);
    background-color: white;
    margin-bottom: 1rem;
  }
}

.qrcode-text-container {
  margin-top: 2rem;
  width: 100%;
}

.qrcode-text-output {
  margin: 1em 0 0;
}
