:root {
  --color-primary-red: #e50b12;
  --color-primary-dark: #101012;
  --color-primary-light: #f5f4ed;
  --color-primary-white: #ffffff;
  --color-text-muted: #666666;
  --color-secondary-wine: #5c1a2e;
  --color-secondary-teal: #00857d;
  --color-secondary-marigold: #f09914;
  --color-bg-apple: #000000;
  --color-bg-alternate: #101012;

  @media (prefers-color-scheme: dark) {
    --color-primary-dark: #f5f4ed;
    --color-primary-light: #1d1d1f;
    --color-primary-white: #101012;
    --color-text-muted: #999999;
    --color-bg-apple: #333333; /* Dark grey for Apple button in dark mode */
  }
}
