.button {
  color: #ffffff; /* Use a static light color for all buttons */
  font-weight: 600;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  box-shadow:
    0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1),
    0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
  outline: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.75rem 0 0;

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    box-shadow:
      0 0 0 0.125rem var(--focus-ring-color),
      0 0 0 0.25rem var(--color-primary-white);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.button-primary {
  background-color: var(--color-secondary-teal);
  --focus-ring-color: var(--color-secondary-teal);
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #006b66;
    }
  }
}
.button-secondary {
  background-color: var(--color-secondary-marigold);
  --focus-ring-color: var(--color-secondary-marigold);
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #d78912;
    }
  }
}
.button-alternate {
  background-color: var(--color-primary-dark);
  --focus-ring-color: var(--color-primary-dark);
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #0a0a0a;
    }
  }
}
.button-special {
  background-color: var(--color-secondary-wine);
  --focus-ring-color: var(--color-secondary-wine);
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #4a1525;
    }
  }
}
.button-cancel {
  background-color: var(--color-primary-red);
  --focus-ring-color: var(--color-primary-red);
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #b8090f;
    }
  }
}

.button-apple {
  background-color: #000000;
  color: var('color-bg-apple');
  --focus-ring-color: #000000;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #333333;
    }
  }
}

.buttons-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 0.75rem;
  container-type: inline-size;
  margin: 0 auto; /* Remove the margin-top */
}

.button-break {
  display: none;
}

@container (min-width: 30rem) {
  .button-break {
    display: block;
    flex-basis: 100%;
    height: 0;
    margin: 0;
    padding: 0;
  }
}

@container (max-width: 30rem) {
  /* Style the first four buttons to be 50% width */
  .buttons-section > .button:nth-child(-n + 4) {
    flex-basis: calc(50% - 0.375rem);
  }

  /* Style the rest of the direct children (the remaining buttons and the wrapper) to be full width */
  .buttons-section > *:nth-child(n + 5) {
    flex-basis: 100%;
  }
}

.button-wrapper {
  position: relative;
  display: inline-flex;
  cursor: not-allowed;
  button {
    width: 100%;
  }
}

.button-wrapper:has(button:not(:disabled)) {
  cursor: default;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: var(--color-primary-dark);
  padding: 0.25rem 0.5rem;
  line-height: 1rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  white-space: nowrap;
  margin-bottom: 0.25rem;
  border: 1px solid var(--color-primary-dark);
  z-index: 10;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
